<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="/javascripts/jquery.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script>
      $(function(){
        $("#btn").on("click",function(){
          console.log($("#message2").val())
          $("#result").text($("#message2").val());
        });
      });
    </script>
  </head>
  <body>
    <h1><%= title %></h1>
    <div style="margin:10px 0 0 10px">
      <form action="/" method="POST">
        伝言:<input type="text" id="message">
        <input type="submit" value="登録">
      </form>
    </div>
    <div style="margin:10px 0 0 10px">
      伝言:<%= message %>
    </div>
    
    <div id="result">this is hoge</div>
    <div>
      <input type="text" id="message2">
      <input type="button" value="変更" id="btn">
    </div>
  </body>
</html>
