<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <div>
      <a href="/list">一覧</a>
      <a href="/new">新規作成</a>
    </div>
    <form method="POST" action="new">
      <div>
        name : <input type="text" name="name">
      </div>
      <div>
        age : <input type="text" name="age">
      </div>
      <div>
        dept : <input type="text" name="dept">
      </div>
      <div>
        <input type="submit" value="登録">
      </div>
    </form>
  </body>
</html>
