<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>index</title>
</head>
<body>
    <h1><%= title%></h1>
    <form action="/" method="GET">
        検索:<input type="text" name="search">
        <input type="submit" value="検索">
    </form>
    <div>
        <%=search%>
    </div>
</body>
</html>
